[flake8]
# Remove limits on line lengths and whitespace around arithmetic operators and extra whitespace after commas, and before brackets. This is useful for matrices and readthedocs docstrings.
ignore = E501, E226, E241, E202, E701

# Ignore specific docstring formatting/style warnings from flake8-docstrings (pydocstyle)
#    D200: One-line docstring should fit on one line
#    D203: 1 blank line required before class docstring
#    D212: Multi-line docstring summary should start at the first line
#    D213: Multi-line docstring summary should start at the second line
#    D400: First line should end with a period
#    D401: First line should be in imperative mood
extend-ignore =
    D200,
    D203,
    D212,
    D213,
    D400,
    D401,

# Optionally exclude some directories from linting
exclude =
    .github,
    .ipynb_checkpoints,
    .pytest_cache,
    .vscode,
    .Archived,
    build,
    Derivations,
    dist,
    docs,
    Resources

# Enable flake8 plugins if installed (these don’t need to be listed here explicitly)
