<!DOCTYPE html>
<html>

    <head>
        <h1>PyNite Analysis Report</h1>
    </head>

    <body>

        <h3>Nodes & Supports</h3>     
        <table>

            <thead>
                <tr>
                    <th>Node</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                    <th>Support X</th>
                    <th>Support Y</th>
                    <th>Support Z</th>
                    <th>Support RX</th>
                    <th>Support RY</th>
                    <th>Support RZ</th>
            </thead>

            <tbody>
            {% for node in nodes %}
                <tr>
                    <td>{{ node.Name }}</td>
                    <td>{{ node.X }}</td>
                    <td>{{ node.Y }}</td>
                    <td>{{ node.Z }}</td>
                    <td>{{ node.SupportDX }}</td>
                    <td>{{ node.SupportDY }}</td>
                    <td>{{ node.SupportDZ }}</td>
                    <td>{{ node.SupportRX }}</td>
                    <td>{{ node.SupportRY }}</td>
                    <td>{{ node.SupportRZ }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <h3>Members</h3>
        <table>
            <thead>
                <tr>
                    <th>Member</th>
                    <th>i-Node</th>
                    <th>j-Node</th>
                    <th>A</th>
                    <th>I<sub>y</sub></th>
                    <th>I<sub>z</sub></th>
                    <th>J</th>
                    <th>E</th>
                    <th>G</th>
                </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.Name }}</td>
                    <td>{{ member.iNode.Name }}</td>
                    <td>{{ member.jNode.Name }}</td>
                    <td>{{ member.A }}</td>
                    <td>{{ member.Iy }}</td>
                    <td>{{ member.Iz }}</td>
                    <td>{{ member.J }}</td>
                    <td>{{ member.E }}</td>
                    <td>{{ member.G }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Member End Releases</h3>
        <table>
            <thead>
                <tr>
                    <th>Member</th>
                    <th>&Delta;<sub>xi</sub></th>
                    <th>&Delta;<sub>yi</sub></th>
                    <th>&Delta;<sub>zi</sub></th>
                    <th>&theta;<sub>xi</sub></th>
                    <th>&theta;<sub>yi</sub></th>
                    <th>&theta;<sub>zi</sub></th>
                    <th>&Delta;<sub>xj</sub></th>
                    <th>&Delta;<sub>yj</sub></th>
                    <th>&Delta;<sub>zj</sub></th>
                    <th>&theta;<sub>xj</sub></th>
                    <th>&theta;<sub>yj</sub></th>
                    <th>&theta;<sub>zj</sub></th>
                </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.Name }}</td>
                    <td>{{ member.Releases[0] }}</td>
                    <td>{{ member.Releases[1] }}</td>
                    <td>{{ member.Releases[2] }}</td>
                    <td>{{ member.Releases[3] }}</td>
                    <td>{{ member.Releases[4] }}</td>
                    <td>{{ member.Releases[5] }}</td>
                    <td>{{ member.Releases[6] }}</td>
                    <td>{{ member.Releases[7] }}</td>
                    <td>{{ member.Releases[8] }}</td>
                    <td>{{ member.Releases[9] }}</td>
                    <td>{{ member.Releases[10] }}</td>
                    <td>{{ member.Releases[11] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Plates</h3>
        <table>
            <thead>
                <tr>
                    <th>Plate</th>
                    <th>i-Node</th>
                    <th>j-Node</th>
                    <th>m-Node</th>
                    <th>n-Node</th>
                    <th>t</th>
                    <th>E</th>
                    <th>&nu;</th>
                </tr>
            </thead>
            <tbody>
            {% for plate in plates %}
                <tr>
                    <td>{{ plate.Name }}</td>
                    <td>{{ plate.iNode.Name }}</td>
                    <td>{{ plate.jNode.Name }}</td>
                    <td>{{ plate.mNode.Name }}</td>
                    <td>{{ plate.nNode.Name }}</td>
                    <td>{{ plate.t }}</td>
                    <td>{{ plate.E }}</td>
                    <td>{{ plate.nu }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </body>

</html>